#naslov{
    width:100%;
    font-family: 'Cinzel', serif;
    text-align:center;
    color:goldenrod;
    
}
#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#container1{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -600px;
}
#container2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}
#containern{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
#container4{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -400px;
}
#meni{
    font-family: 'Cinzel', serif;
    text-align:left;
    line-height: 3;
    font-size: xx-large;
    list-style-type: none;
    
}
.h:hover{
    color: blue;
    text-decoration: underline;
}
#slika{
    width: 100%;
}
#slika1{
    width: 100%;
    
}
#slika2{
    width: 100%;
}